@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Variables */
@layer base {
  :root {
    /* Backgrounds */
    --bg-primary: #fafafa;
    --bg-primary-reverse: #000000;
    --bg-secondary: #f3f4f6;

    /* Borders */
    --border-primary: #9ca3af;
    --border-secondary: #e5e7eb;

    /* Text */
    --text-primary: #000000;
    --text-primary-reverse: #fafafa;
    --text-secondary: #374151;
    --text-tertiary: #6b7280;

    /* Box Shadow */
    --shadow-focus: 0 0 0 2px var(--bg-primary), 0 0 0 3px var(--text-primary);

    /* Theme Transition Animation Paths */
    --clip-dark-from: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
    --clip-dark-to: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
    --clip-light-from: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
    --clip-light-to: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
  }

  .dark {
    /* Backgrounds */
    --bg-primary: #000000;
    --bg-primary-reverse: #fafafa;
    --bg-secondary: #111111;

    /* Borders */
    --border-primary: #444444;
    --border-secondary: #666666;

    /* Text */
    --text-primary: #fafafa;
    --text-primary-reverse: #000000;
    --text-secondary: #d4d4d4;
    --text-tertiary: #666666;
  }
}

/* Custom Utilities */
@layer utilities {
  /* Link underline */
  .link-underline {
    @apply relative transition-all;
  }
  .link-underline::after {
    content: '';
    @apply absolute bottom-0 left-0 h-px w-full;
    @apply origin-bottom-right scale-x-0 border-b;
    @apply border-dashed border-current transition-transform;
  }
  /* Direct hover */
  .link-underline:hover {
    @apply text-primary;
  }
  .link-underline:hover::after {
    @apply origin-bottom-left scale-x-100;
  }
  /* Group hover */
  .group:hover .link-underline {
    @apply text-primary;
  }
  .group:hover .link-underline::after {
    @apply origin-bottom-left scale-x-100;
  }
}

/* Custom CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--border-primary);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  /* https://www.joshwcomeau.com/css/custom-css-reset/#digit-tweaking-line-height */
  line-height: calc(1em + 0.5rem);
  /* Commented because of Geist Mono looking better without it */
  /* Also good article about this https://dbushell.com/2024/11/05/webkit-font-smoothing/ */
  /* -webkit-font-smoothing: antialiased; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border-width: 0;
  background: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

::selection {
  background-color: var(--bg-primary-reverse);
  color: var(--text-primary-reverse);
}

/* Theme Transition */
/* https://theme-toggle.rdsx.dev/ */
.theme-transition::view-transition-group(root) {
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1); /* expo-out */
}

.theme-transition::view-transition-new(root) {
  animation-name: reveal-light;
}

.theme-transition::view-transition-old(root),
.theme-transition.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}

.theme-transition.dark::view-transition-new(root) {
  animation-name: reveal-dark;
}

@keyframes reveal-dark {
  from {
    clip-path: var(--clip-dark-from);
  }
  to {
    clip-path: var(--clip-dark-to);
  }
}

@keyframes reveal-light {
  from {
    clip-path: var(--clip-light-from);
  }
  to {
    clip-path: var(--clip-light-to);
  }
}
