@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Variables */
@layer base {
  :root {
    /* Backgrounds */
    --bg-primary: #ffffff;
    --bg-primary-reverse: #000000;

    /* Borders */
    --border-primary: #9ca3af;

    /* Text */
    --text-primary: #000000;
    --text-primary-reverse: #ffffff;
    --text-secondary: #374151;
    --text-tertiary: #6b7280;

    /* Box Shadow */
    --shadow-focus: 0 0 0 2px var(--bg-primary), 0 0 0 3px var(--text-primary);
  }

  .dark {
    /* Backgrounds */
    --bg-primary: #000000;
    --bg-primary-reverse: #ffffff;

    /* Borders */
    --border-primary: #444444;

    /* Text */
    --text-primary: #ffffff;
    --text-primary-reverse: #000000;
    --text-secondary: #d1d5db;
    --text-tertiary: #666666;

    /* Box Shadow */
    --shadow-focus: 0 0 0 2px var(--bg-primary), 0 0 0 3px var(--text-primary);
  }
}

/* Custom CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--border-primary);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  /* https://www.joshwcomeau.com/css/custom-css-reset/#digit-tweaking-line-height */
  line-height: calc(1em + 0.5rem);
  /* Commented because of Geist Mono looking better without it */
  /* Also good article about this https://dbushell.com/2024/11/05/webkit-font-smoothing/ */
  /* -webkit-font-smoothing: antialiased; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border-width: 0;
  background: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

::selection {
  background-color: var(--bg-primary-reverse);
  color: var(--text-primary-reverse);
}
